.page-header {
    background-color: $headerBgColor;
    color: $headerFontColor;
    box-shadow: $shadow;
    
    .header-section {
        padding: 10px 15px;
    }
}

.fixed-to-top {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 33;

    //xs 544
    @media #{$mobile} {
        display: none;
    }

    //sm 545 - 768
    @media #{$tablet} {
        display: none;
    }

    //md 769 - 1024
    @media #{$laptop} {
        display: none;
    }
}

.pre-header_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid $themeColorThree;
    
    .pre-header_phones {
        display: flex;
        align-items: baseline;
    }
}

.header-top {
    border-bottom: 1px solid $light_border_color;
    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 10px 0;

        &:last-child {
            border-right: 0;
        }
    }

    &__sub-title {
        text-align: center;
    }
}

@media screen and (min-width: 1024px) {
    .header-top {
        &__wrapper {
            flex-direction: row;
            justify-content: space-between;
        }
    }
}

@media screen and (min-width: 1200px) {
    .header-top {
        &__item {
            padding: 10px 15px;
            border-right: 1px solid $light_border_color;
            &:nth-child(1) {
                width: 26%;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
            &:nth-child(2) {
                width: 40%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:nth-child(3) {
                width: 15%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:nth-child(4) {
                width: 12%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
