.page-header {
    background-color: $headerBgColor;
    color: $headerFontColor;
    box-shadow: $shadow;
    
    .header-section {
        padding: 10px 15px;
    }
}

.fixed-to-top {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 33;

    //xs 544
    @media #{$mobile} {
        display: none;
    }

    //sm 545 - 768
    @media #{$tablet} {
        display: none;
    }

    //md 769 - 1024
    @media #{$laptop} {
        display: none;
    }
}

.pre-header_wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    border-bottom: 1px solid $themeColorThree;
    
    .pre-header_phones {
        display: flex;
        align-items: baseline;
    }
}
