$debug: false !default;
$image-url-path: "assets/img/" !default;
$font-url-path: "assets/fonts/" !default;

$borderRadius: 25px;
$shadow: 0 0 10px rgba(#000, .2);
$small_border_radius: 3px;

// BRAND
$themeColorOne: #303030; // Обычно самый темный цвет. Используется для:
// заголовков h1-h6 - $titleFontColor и других. 

$themeColorTwo: #EFB83A; // Основной "брендовый" цвет.
// Поменять значение этой переменной согласно макета обязательно!

$themeColorThree: #F4F4F4;


// SELECTION: цвет фона и текста при выделении его курсором
$selectionBgColor: $themeColorTwo;
$selectionFontColor: #fff;

// BODY
$bodyBgColor: $themeColorThree; //white
$bodyFontColor: $themeColorOne; // black

// HEADER: цвет фона шапки сайта
$headerBgColor: #fff;
$headerFontColor: $themeColorOne;

// Text Highlight: цвет фона и текста при добавлении к нему .highlighted
$textHighlightBgColor: $themeColorTwo;
$textHighlightColor: #fff;
$decor_color_elements: linear-gradient(180deg, #FFD36D 0%, #E4A616 100%, #E3A311 100%);
$benefits_bg_color: linear-gradient(180deg, rgba(237, 207, 139, 0) 0%, #EDCF8B 100%);
$round_bg_color: linear-gradient(180deg, rgba(227, 163, 17, 0.7) 0%, rgba(255, 211, 109, 0.7) 100%);
$decor_string_bg: linear-gradient(180deg, rgba(237, 207, 139, 0) 0%, #EDCF8B 100%);
$benefits_shadow: 0 0 20px 1px rgba(0,0,0,0.1);

// MENU
$menuBgColor: #fff;
$menuBgColorActive: $themeColorTwo;
$menuFontColor: $themeColorOne;
$menuFontColorActive: $themeColorOne;

$navArrowColor: #fff;
$navHeaderMobileBGColor: $themeColorOne;
$navHamburgerMobileColor: #fff;

$menuMobileBGColor: $themeColorOne;
$menuMobileSubMenuBGColor: lighten($themeColorOne, 10%);
$menuMobileLinkFontSize: 16px;
$menuMobileSubMenuLinkFontSize: 14px;
$menuMobileTextColor: #fff;
$menuMobileSubMenuTextColor: $menuMobileTextColor;
$menuMobileSubMenuBGOnHover: $themeColorOne;
$menuMobileSubMenuTextColorOnHover: #fff;

$hamburger-offset: 8px;
$hamburger-duration: .1s;
$hamburger-delay: .1s;
$hamburger-color: $themeColorTwo;

$menu-close-size: 25px;
$menu-close-color: #fff;
$menuContainerMobilePaddingTop: 30%;

// FOOTER
$footerBgColor: #fff;
$footerFontColor: #000;
$footerLinkColorActive: darken($footerFontColor, 5%);

// WRAPPER
$wrapperBgColor: #fff;

// TITLES
$titleFontColor: $themeColorOne;
$titleFontColorActive: lighten($titleFontColor, 10%);

// LINKS
$linkFontColor: #000;
$linkFontColorActive: lighten($linkFontColor, 20%);
$light_text: #CBCBCB;

// TABLE
$tableBgColor: $themeColorTwo;
$tableBgColorActive: lighten($themeColorTwo, 10%);
$tableBorderColor: #fff;
$tableBorderColorActive: #989898;
$tableOddBgColor: $themeColorOne;
$tableOddFontColor: #fff;
$tableEvenBgColor: $themeColorTwo;
$tableEvenFontColor: #fff;

// TEXT
$textMutedColor: #aaa;

// Icons
$iconColor: $themeColorOne;
$iconColorActive: $themeColorTwo;
$iconColorReversed: $bodyBgColor;

// FORMS
$formFieldBorderWidth: 1px;
$formFieldBorderColor: lighten($themeColorOne, 30%);
$formFieldPadding: 10px 8px;
$formFieldTextColor: #000;
$formFieldTextSize: 13px;
$formFieldBorderRadius: $borderRadius;
$formFieldBackgroundColor: #fff;
$inputFieldMinHeight: 38px;
$formBgColor: lighten($themeColorOne, 75%);

// Pagination
$paginationActiveLink: $themeColorTwo;
$paginationActiveLinkText: #fff;
$paginationLinkOnHover: $themeColorTwo;
$paginationLinkOnHoverText: #fff;

//WOOCOMMERCE
$wooThemeColor: $themeColorTwo;

// On sale
$onsaleBackgroundColor: $wooThemeColor;
$onsaleFontColor: #fff;

// Products price
$productsPriceFontColor: $wooThemeColor;

// Single Product page
$productPriceFontColor: $wooThemeColor;

// error
$errorBorderTopColor: #b81c23;
$errorIconFontColor: #b81c23;

// info
$infoBorderTopColor: #1e85be;
$infoIconFontColor: #1e85be;
$light_border_color: #C4C4C4;
$light_bg_color: #C4C4C4;

// message
$messageBorderTopColor: $themeColorTwo;
$messageIconFontColor: $themeColorTwo;

//WOOCOMMERCE end

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;

$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px
) !default;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1300px
) !default;
